# Pandas Time Series Analysis: Period and PeriodIndex

In [1]:
import pandas as pd
import numpy as np

### Yearly Period

In [2]:
#yearly time period
y = pd.Period('2020')
y

Period('2020', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

## Monthly Period

In [6]:
#monthly time period
m = pd.Period('2019-1',freq='M')
m

Period('2019-01', 'M')

In [7]:
m.start_time

Timestamp('2019-01-01 00:00:00')

In [8]:
m.end_time

Timestamp('2019-01-31 23:59:59.999999999')

In [9]:
m + 1

Period('2019-02', 'M')

## Daily Period

In [10]:
# daily time period
d = pd.Period('2020-09-25',freq='D')
d

Period('2020-09-25', 'D')

In [11]:
d + 1

Period('2020-09-26', 'D')

## Hourly Period

In [12]:
# hourly frequency
h = pd.Period('2020-09-25 22:00:00',freq='H')
h

Period('2020-09-25 22:00', 'H')

In [13]:
h.start_time

Timestamp('2020-09-25 22:00:00')

In [14]:
h.end_time

Timestamp('2020-09-25 22:59:59.999999999')

In [15]:
h + 1

Period('2020-09-25 23:00', 'H')

## Achieve same results using pandas offsets hour

In [16]:
h+pd.offsets.Hour(2)

Period('2020-09-26 00:00', 'H')

## Quarterly Period

In [17]:
# quaterly frequency
q = pd.Period('2020Q1')
q

Period('2020Q1', 'Q-DEC')

In [18]:
q+1

Period('2020Q2', 'Q-DEC')

In [19]:
# quaterly frequency for fiscal year
q = pd.Period('2020Q1',freq='Q-JAN')
q

Period('2020Q1', 'Q-JAN')

In [20]:
q.start_time

Timestamp('2019-02-01 00:00:00')

In [21]:
q.end_time

Timestamp('2019-04-30 23:59:59.999999999')

## Use asfreq to convert period to a different frequency

In [23]:
q.asfreq('M',how='start')

Period('2019-02', 'M')

In [24]:
q.asfreq('M',how='end')

Period('2019-04', 'M')

In [25]:
q2 = pd.Period('2021Q2',freq='Q-JAN')
q2

Period('2021Q2', 'Q-JAN')

In [26]:
q2-q

## Weekly Period

In [27]:
w = pd.Period('2019-07-05',freq='W')
w

Period('2019-07-01/2019-07-07', 'W-SUN')

In [29]:
w-1

Period('2019-06-24/2019-06-30', 'W-SUN')

In [30]:
w2 = pd.Period('2019-08-15',freq='W')
w2

Period('2019-08-12/2019-08-18', 'W-SUN')

In [31]:
w2-w

### PeriodIndex and period_range

In [32]:
# creating a period index
idx = pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [33]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [34]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

#### Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [35]:
# creating a fiscal period index
idxF = pd.period_range('2011','2017',freq='Q-JAN')
idxF

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [36]:
idxF[0].start_time

Timestamp('2010-11-01 00:00:00')

In [37]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [38]:
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1    0.384177
2011Q2    0.216426
2011Q3   -0.071241
2011Q4   -0.263356
2012Q1    0.276987
2012Q2    0.103896
2012Q3    0.111477
2012Q4   -2.579742
2013Q1    0.068233
2013Q2    0.106051
2013Q3   -1.532992
2013Q4    0.526144
2014Q1    1.754250
2014Q2    0.879039
2014Q3   -0.503455
2014Q4   -0.119308
2015Q1   -1.219434
2015Q2   -1.917974
2015Q3   -0.478900
2015Q4    0.534287
2016Q1    0.441600
2016Q2    1.181594
2016Q3   -1.060023
2016Q4   -0.098584
2017Q1    0.428870
Freq: Q-DEC, dtype: float64

### Partial Indexing

In [39]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [40]:
ps['2011':'2013']

2011Q1    0.384177
2011Q2    0.216426
2011Q3   -0.071241
2011Q4   -0.263356
2012Q1    0.276987
2012Q2    0.103896
2012Q3    0.111477
2012Q4   -2.579742
2013Q1    0.068233
2013Q2    0.106051
2013Q3   -1.532992
2013Q4    0.526144
Freq: Q-DEC, dtype: float64

### Converting between representations

In [41]:
#convert to time stamp
pst = ps.to_timestamp()
pst

2011-01-01    0.384177
2011-04-01    0.216426
2011-07-01   -0.071241
2011-10-01   -0.263356
2012-01-01    0.276987
2012-04-01    0.103896
2012-07-01    0.111477
2012-10-01   -2.579742
2013-01-01    0.068233
2013-04-01    0.106051
2013-07-01   -1.532992
2013-10-01    0.526144
2014-01-01    1.754250
2014-04-01    0.879039
2014-07-01   -0.503455
2014-10-01   -0.119308
2015-01-01   -1.219434
2015-04-01   -1.917974
2015-07-01   -0.478900
2015-10-01    0.534287
2016-01-01    0.441600
2016-04-01    1.181594
2016-07-01   -1.060023
2016-10-01   -0.098584
2017-01-01    0.428870
Freq: QS-OCT, dtype: float64

In [42]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [43]:
pst.to_period()

2011Q1    0.384177
2011Q2    0.216426
2011Q3   -0.071241
2011Q4   -0.263356
2012Q1    0.276987
2012Q2    0.103896
2012Q3    0.111477
2012Q4   -2.579742
2013Q1    0.068233
2013Q2    0.106051
2013Q3   -1.532992
2013Q4    0.526144
2014Q1    1.754250
2014Q2    0.879039
2014Q3   -0.503455
2014Q4   -0.119308
2015Q1   -1.219434
2015Q2   -1.917974
2015Q3   -0.478900
2015Q4    0.534287
2016Q1    0.441600
2016Q2    1.181594
2016Q3   -1.060023
2016Q4   -0.098584
2017Q1    0.428870
Freq: Q-DEC, dtype: float64