                                  Pandas Time Series Analysis: Period and PeriodIndex

In [ ]:
import pandas as pd
import numpy as np

Yearly Period

In [2]:
#yearly time period
y = pd.Period('2020')
y

Period('2020', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

Monthly Period

In [6]:
#monthly time period
m = pd.Period('2019-1',freq='M')
m

Period('2019-01', 'M')

In [7]:
m.start_time

Timestamp('2019-01-01 00:00:00')

In [8]:
m.end_time

Timestamp('2019-01-31 23:59:59.999999999')

In [9]:
m + 1

Period('2019-02', 'M')

Daily Period

In [12]:
# daily time period
d = pd.Period('2020-09-25',freq='D')
d

Period('2020-09-25', 'D')

In [13]:
d + 1

Period('2020-09-26', 'D')

Hourly Period

In [15]:
# hourly frequency
h = pd.Period('2020-09-25 22:00:00',freq='H')
h

Period('2020-09-25 22:00', 'H')

In [16]:
h.start_time

Timestamp('2020-09-25 22:00:00')

In [17]:
h.end_time

Timestamp('2020-09-25 22:59:59.999999999')

In [18]:
h + 1

Period('2020-09-25 23:00', 'H')

Achieve same results using pandas offsets hour

In [21]:
h+pd.offsets.Hour(2)

Period('2020-09-26 00:00', 'H')

Quarterly Period

In [22]:
# quaterly frequency
q = pd.Period('2020Q1')
q

Period('2020Q1', 'Q-DEC')

In [23]:
q+1

Period('2020Q2', 'Q-DEC')

In [24]:
# quaterly frequency for fiscal year
q = pd.Period('2020Q1',freq='Q-JAN')
q

Period('2020Q1', 'Q-JAN')

In [25]:
q.start_time

Timestamp('2019-02-01 00:00:00')

In [ ]:
q.end_time

Use asfreq to convert period to a different frequency

In [ ]:
q1.asfreq('M',how='start')

In [ ]:
q1.asfreq('M',how='end')

In [32]:
q2 = pd.Period('2021Q2',freq='Q-JAN')
q2

Period('2021Q2', 'Q-JAN')

In [34]:
q2-q

Weekly Period

In [ ]:
w = pd.Period('2019-07-05',freq='W')
w

In [ ]:
Period('2019-07-03/2019-07-09', 'W-SUN')

In [ ]:
w-1

In [ ]:
Period('2019-06-26/2019-07-02', 'W-SUN')

In [ ]:
w2 = pd.Period('2019-08-15',freq='W')
w2

In [ ]:
w2-w

PeriodIndex and period_range

In [36]:
# creating a period index
idx = pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [39]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [40]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [38]:
# creating a fiscal period index
idxF = pd.period_range('2011','2017',freq='Q-JAN')
idxF

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [41]:
idxF[0].start_time

Timestamp('2010-11-01 00:00:00')

In [42]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [44]:
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q4   -0.166864
2012Q1   -1.081927
2012Q2   -0.239840
2012Q3   -0.873193
2012Q4   -0.801421
2013Q1   -0.499928
2013Q2   -1.797259
2013Q3   -0.913957
2013Q4    1.436394
2014Q1    0.055387
2014Q2   -0.244333
2014Q3   -0.022694
2014Q4    0.297084
2015Q1    1.041825
2015Q2   -0.408700
2015Q3   -0.423758
2015Q4    2.241191
2016Q1    1.147053
2016Q2   -0.297282
2016Q3    0.025606
2016Q4    0.007313
2017Q1    0.726654
2017Q2    0.368371
2017Q3    1.851706
2017Q4    0.197787
Freq: Q-JAN, dtype: float64

Partial Indexing

In [45]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [47]:
ps['2011':'2013']

2011Q4   -0.166864
2012Q1   -1.081927
2012Q2   -0.239840
2012Q3   -0.873193
2012Q4   -0.801421
2013Q1   -0.499928
2013Q2   -1.797259
2013Q3   -0.913957
2013Q4    1.436394
2014Q1    0.055387
2014Q2   -0.244333
2014Q3   -0.022694
2014Q4    0.297084
Freq: Q-JAN, dtype: float64

Converting between representations

In [49]:
#convert to time stamp
pst = ps.to_timestamp()
pst

2010-11-01   -0.166864
2011-02-01   -1.081927
2011-05-01   -0.239840
2011-08-01   -0.873193
2011-11-01   -0.801421
2012-02-01   -0.499928
2012-05-01   -1.797259
2012-08-01   -0.913957
2012-11-01    1.436394
2013-02-01    0.055387
2013-05-01   -0.244333
2013-08-01   -0.022694
2013-11-01    0.297084
2014-02-01    1.041825
2014-05-01   -0.408700
2014-08-01   -0.423758
2014-11-01    2.241191
2015-02-01    1.147053
2015-05-01   -0.297282
2015-08-01    0.025606
2015-11-01    0.007313
2016-02-01    0.726654
2016-05-01    0.368371
2016-08-01    1.851706
2016-11-01    0.197787
Freq: QS-NOV, dtype: float64

In [50]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [52]:
pst.to_period()

2010Q4   -0.166864
2011Q1   -1.081927
2011Q2   -0.239840
2011Q3   -0.873193
2011Q4   -0.801421
2012Q1   -0.499928
2012Q2   -1.797259
2012Q3   -0.913957
2012Q4    1.436394
2013Q1    0.055387
2013Q2   -0.244333
2013Q3   -0.022694
2013Q4    0.297084
2014Q1    1.041825
2014Q2   -0.408700
2014Q3   -0.423758
2014Q4    2.241191
2015Q1    1.147053
2015Q2   -0.297282
2015Q3    0.025606
2015Q4    0.007313
2016Q1    0.726654
2016Q2    0.368371
2016Q3    1.851706
2016Q4    0.197787
Freq: Q-DEC, dtype: float64