## Pandas Time Series Analysis Tutorial: shifting & lagging

In [1]:
import pandas as pd

In [13]:
data = pd.read_csv('C:/github/fb.csv',parse_dates=['Date'],index_col='Date')
data

             Price
Date
2021-07-15  171.00
2021-07-16  170.00
2021-07-19  166.91
2021-07-20  167.41
2021-07-21  167.78
2021-07-22  169.64
2021-07-23  168.71
2021-07-26  167.74
2021-07-27  166.32
2021-07-28  167.24

### Shift

In [14]:
data.shift(1)

             Price
Date
2021-07-15     NaN
2021-07-16  171.00
2021-07-19  170.00
2021-07-20  166.91
2021-07-21  167.41
2021-07-22  167.78
2021-07-23  169.64
2021-07-26  168.71
2021-07-27  167.74
2021-07-28  166.32

In [15]:
data.shift(-1)

             Price
Date
2021-07-15  170.00
2021-07-16  166.91
2021-07-19  167.41
2021-07-20  167.78
2021-07-21  169.64
2021-07-22  168.71
2021-07-23  167.74
2021-07-26  166.32
2021-07-27  167.24
2021-07-28     NaN

In [16]:
data['Prev Day Price'] = data['Price'].shift(1)
data

             Price  Prev Day Price
Date
2021-07-15  171.00             NaN
2021-07-16  170.00          171.00
2021-07-19  166.91          170.00
2021-07-20  167.41          166.91
2021-07-21  167.78          167.41
2021-07-22  169.64          167.78
2021-07-23  168.71          169.64
2021-07-26  167.74          168.71
2021-07-27  166.32          167.74
2021-07-28  167.24          166.32

In [17]:
data['Price Change'] = data['Price'] - data['Prev Day Price']
data

             Price  Prev Day Price  Price Change
Date
2021-07-15  171.00             NaN           NaN
2021-07-16  170.00          171.00         -1.00
2021-07-19  166.91          170.00         -3.09
2021-07-20  167.41          166.91          0.50
2021-07-21  167.78          167.41          0.37
2021-07-22  169.64          167.78          1.86
2021-07-23  168.71          169.64         -0.93
2021-07-26  167.74          168.71         -0.97
2021-07-27  166.32          167.74         -1.42
2021-07-28  167.24          166.32          0.92

In [18]:
data['5 day return'] =  (data['Price'] - data['Price'].shift(5))*100/data['Price'].shift(5)
data

             Price  Prev Day Price  Price Change  5 day return
Date
2021-07-15  171.00             NaN           NaN           NaN
2021-07-16  170.00          171.00         -1.00           NaN
2021-07-19  166.91          170.00         -3.09           NaN
2021-07-20  167.41          166.91          0.50           NaN
2021-07-21  167.78          167.41          0.37           NaN
2021-07-22  169.64          167.78          1.86     -0.795322
2021-07-23  168.71          169.64         -0.93     -0.758824
2021-07-26  167.74          168.71         -0.97      0.497274
2021-07-27  166.32          167.74         -1.42     -0.651096
2021-07-28  167.24          166.32          0.92     -0.321850

In [19]:
data = data[['Price']]
data

             Price
Date
2021-07-15  171.00
2021-07-16  170.00
2021-07-19  166.91
2021-07-20  167.41
2021-07-21  167.78
2021-07-22  169.64
2021-07-23  168.71
2021-07-26  167.74
2021-07-27  166.32
2021-07-28  167.24

### tshift

In [20]:
data.index

DatetimeIndex(['2021-07-15', '2021-07-16', '2021-07-19', '2021-07-20',
               '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-26',
               '2021-07-27', '2021-07-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [21]:
data.index = pd.date_range(start='2021-07-15',periods=10, freq='B')
data

             Price
2021-07-15  171.00
2021-07-16  170.00
2021-07-19  166.91
2021-07-20  167.41
2021-07-21  167.78
2021-07-22  169.64
2021-07-23  168.71
2021-07-26  167.74
2021-07-27  166.32
2021-07-28  167.24

In [22]:
data.index

DatetimeIndex(['2021-07-15', '2021-07-16', '2021-07-19', '2021-07-20',
               '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-26',
               '2021-07-27', '2021-07-28'],
              dtype='datetime64[ns]', freq='B')

In [25]:
data.tshift(1)

<ipython-input-25-e07b569b1f6d>:1: FutureWarning: tshift is deprecated and will be removed in a future version. Please use shift instead.
  data.tshift(1)

             Price
2021-07-16  171.00
2021-07-19  170.00
2021-07-20  166.91
2021-07-21  167.41
2021-07-22  167.78
2021-07-23  169.64
2021-07-26  168.71
2021-07-27  167.74
2021-07-28  166.32
2021-07-29  167.24